# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
ENV/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.bak

# Dependency directories
.venv/
pipenv/
pipenv.lock

# Others
build/
dist/
pynnacle_uno.egg-info/